body {
    margin: 8px;
    background-color: black; 
    background-image: url(img/vinyl_turntable_music_black_needle_play_sound_vintage-669104.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    color: bisque;
    text-align: center;
    font-size: 2em;
}
header {
    border: solid 2px rgb(42, 122, 228);
}
.cabecalho{
    display: flexbox;
}