body {
    margin: 8px;
    background-image: url(img/vinyl_turntable_music_black_needle_play_sound_vintage-669104.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    color: white;
    margin: 0px;
    font-size: 2em;
    text-align: center;
}
header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 10px;
    font-size: 28px;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}